:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

#app{
  background-color: hsla(0, 20%, 16%, 0.877);
  color: #ffffffb0;
  padding: 2rem;
  margin: 0 auto;
  font-size: 4rem;
}

main{
  background-color: #6d3c3cb0;
  padding: 1.5rem;
  margin: .5rem auto;
}

section{
  background-color: #cc3333b0;
  padding: 1.5rem;
  margin: .5rem auto;
}

article{
  background-color: #ff0000c4;
  padding: 1rem ;
  margin : .5rem auto;
}