:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

#app{
  --hue: 300;

  background-color: hsl(var(--hue), 100%, 84%);
  color: hsla(var(--hue), 10%, 100%, 0.69);
  padding: 2rem;
  margin: 0 auto;
  font-size: 4rem;
}

main{
  background-color: hsla(var(--hue), 29%, 33%, 0.69);
  padding: 1.5rem;
  margin: .5rem auto;
}

section{
  background-color: hsla(var(--hue), 60%, 50%, 0.69);
  padding: 1.5rem;
  margin: .5rem auto;
}

article{
  background-color: hsla(var(--hue), 100%, 50%, 0.612);
  padding: 1rem ;
  margin : .5rem auto;
}